body{
  background-color: #eeeeee;
}

.container{
  display: none;
  margin: 30px 0;
}

.bar-chart{
  width: auto;
  height: 640px;
  border: 2px solid black;
  margin: auto;
}

.pie-chart{
  width: 480px;
  padding: 10px;
  border: 2px solid black;
  margin: auto;
}